<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table class="table">
        <thead>
            <th>Horário</th>
            <th>Ação</th>
            <th>Body</th>
        </thead>
        {% for log in logs %}
        <tr>
            <td>{{log.data}}</td>
            <td>{{log.request}}</td>
            <td>{{log.body}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>